body{
	background: #7B9F35;
	color: #A7383D;
	text-align: center;
				}

h1{
	text-align: center;
	padding-bottom: 20px
				}
cube{
	align: center;
				}
nav ul{
	background-color: #3515b0;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
				}
nav li{
	display: inline;
	padding-left: 20px;	`		}
	
nav a{
	text-decoration: none;			
	color: #7B9F35		}
nav{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
					}
ol{
	list-style-type: none;